@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #20586a;
    }
}

@layer components {
    .app-shell-bg {
        background: #20586a;
    }

    .guest-shell-bg {
        background: #20586a;
    }

    .landing-shell-bg {
        background: #20586a;
    }
}
